* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(88, 137, 251);
    height: 100vh;
}
.nav-bar {
    max-width: 1280px;
    margin: 0 auto;
}
header {
    padding: 40px 4%;
    background-color: orange;
}
header > .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-bar a {
    color: white;
    text-decoration: none;
    display: inline-block;
}
.nav-bar a:hover {
    transform: scale(1.15);
    text-decoration: underline;
    background-color: rgb(88, 137, 251);
}
.nav-bar ul {
    list-style-type: none;
}
.nav-bar ul li {
    display: inline-block;
    padding: 0 80px;
}
/*css main formação */

section .texto .flex {
    align-items: center;
    justify-content: center;
    gap: 80px;
}
.texto h1 {
    color: white;
    font-size: 30px;
    line-height: 50px;
    text-decoration: underline;
    padding: 40px 40%;
}
.texto ul {
    color: white;
    font-size: 20px;
    margin: 30px 0;
    padding: 30px 20%;
}
.texto ul li {
    padding: 15px 0;
}